@font-face {
    font-family: 'Gilroy';
    src: url("/assets/fonts/gilroy/Gilroy-Medium.ttf");
    font-weight: 300;
      font-display: swap;
  }
  

  
  @font-face {
    font-family: 'Gilroy';
    src: url("/assets/fonts/gilroy/Gilroy-ExtraBold.ttf");
    font-weight: 800;
      font-display: swap;
  }
  
  
  
  @font-face {
    font-family: 'Boston';
    src: url("/assets/fonts/boston/Boston-Regular.otf");
    font-weight: 300;
      font-display: swap;
  }
 
  @font-face {
    font-family: 'Boston';
    src: url("/assets/fonts/boston/Boston-SemiBold.otf");
    font-weight: 500;
      font-display: swap;
  }
  
  @font-face {
    font-family: 'Boston';
    src: url("/assets/fonts/boston/Boston-Bold.otf");
    font-weight: 700;
      font-display: swap;
  }
  
  
  
  @font-face {
    font-family: 'Baysoir';
    src: url("/assets/fonts/baysoir/Baysoir.otf");
    font-weight: 500;
      font-display: swap;
  }