@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  src: url("/assets/fonts/Gilroy-Medium.ttf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("/assets/fonts/Gilroy-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("/assets/fonts/Gilroy-SemiBold.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("/assets/fonts/Gilroy-Black.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("/assets/fonts/Gilroy-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap;
}



@font-face {
  font-family: 'Boston';
  src: url("/assets/fonts/Boston-Regular.otf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Boston';
  src: url("/assets/fonts/Boston-SemiBold.otf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Boston';
  src: url("~/assets/fonts/Boston-Bold.otf");
  font-weight: 700;
  font-display: swap;
}



@font-face {
  font-family: 'Baysoir';
  src: url("/assets/fonts/Baysoir.otf");
  font-weight: 500;
  font-display: swap;
}

.btn-black {
  background-color: black;
  color: white;
  transition: all 0.3s linear;
  border: 1px solid  !important;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black !important;
  }

}

.btn-red {
  color: white;
  transition: all 0.3s linear;
  border: 1px solid transparent !important;
  &:hover {
      border: 1px solid black !important;
  }

}
.btn-white{
  background-color: white;
  color: black;
  transition: all 0.3s linear;
  border: 1px solid transparent !important;

  &:hover {
    border: 1px solid black !important;
  }
}


.btn-default{
  border-radius: 50px;
  padding:15px 40px;
  
  font-family: Gilroy;
  font-weight: 700;
  font-size: em(16);
  @media only screen and (min-width: 768px) {
    font-size: 14px;

  }
  &:hover{
    text-decoration: none;
  }

} 
.menu-white {
  //background-color: rgba($color: #000000, $alpha: .0) !important;
  animation: enterMenu 0.5s linear 0.1s 1 normal both;
 position: fixed;
 top: 0;
  height: 100px;
  background-color: white;
  
}
  @keyframes enterMenu {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .container-body {
    max-width: 95%;
    min-width: 95%;
    margin-right: auto;
    margin-left: auto;
   @media only screen and (min-width: 576px) {
    max-width: 80%;
    min-width: 80%;
   }
    @media only screen and (min-width: 992px) {
      max-width: 80%;
      min-width: 80%;
    }
  }
  .under-line {
    a {
      
        position: relative;
  
        &:before {
          content: '';
          height: 0.05em;
          background-color: white;
          position: absolute;
          bottom: 0;
          width: 0;
          transition: width 0.3s linear;
          right: 0;
          //z-index: 10;
        }
  
        &:hover::before {
          width: 100%;
        }
      }
    }
  .nav-big-text{
@apply font-gilroy font-bold  lg:text-6xl lg:leading-[90px] text-3xl leading-snug sm:text-3xl md:text-4xl
  }
  
  
  .color-dev-hover {
    transition: all 0.3s linear;
  
    &:hover {
      background-color: #22aff8;
      color: white;
    }
  }
  
  .color-mk-hover {
    transition: all 0.3s linear;
  
    &:hover {
      background-color: #6ec028;
      color: white;
    }
  }
  
  .color-prod-hover {
    transition: all 0.3s linear;
  
    &:hover {
      background-color: #631588;
      color: white;
    }
  }
  .color-design-hover {
    transition: all 0.3s linear;
  
    &:hover {
      background-color:#ff5a5f;
      color: white;
    }
  }
  
  .color-reg-hover {
    transition: all 0.3s linear;
  
    &:hover {
      background-color: #fa8232;
      color: white;
    }
  }  
  .under-line-right {
    
        position: relative;

        &:after {
          content: '';
          height: 0.05em;
          background-color: black;
          position: absolute;
          bottom: 0;
          width: 0;
          transition: width 0.3s linear;
          right: 0;
          //z-index: 10;
        }
  
        &:hover::after {
          width: 100%;
        }
      }
    
      .area-bg-left {
        background-image: url("../img/ico/amorphus.svg");
        width: 100%;
        min-height: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }

.section-spacing {
  margin-bottom: 150px;
  @media only screen and (min-width: 768px) {
  
  
    margin-bottom: 180px;
  }
   @media only screen and (min-width: 982px) {


    margin-bottom: 230px;
  }

}
  .card {
    background-color: white;
    text-align: center;
    height: 100%;
    height: 150px;
  
    @media only screen and (min-width: 576px) {
    
    
      height: 224px;
    }
    @media only screen and (min-width: 768px) {
    
    
      height: 200px;
    }
    @media only screen and (min-width: 1080px) {
    
      height: 300px;
    }
  
    img {
      width: 40px;
      height: 40px;
      @media only screen and (min-width: 576px) {
      
      
        width: 53px;
        height: 53px;
      }
      @media only screen and (min-width: 768px) {
      
      
        width: 56px;
        height: 56px;
      }
      @media only screen and (min-width: 1080px) {
      
      
        width: 78px;
        height: 78px;
      }
    }
  }

  .curved-background {
    background-image: url("../img/ico/backgrounds/curved-bg-xs.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
    z-index: -1;
  
    @media only screen and (min-width: 576px) {
    

      background-image: url("../img/ico/backgrounds/curved-bg-sm.svg");
      background-size: cover;
      height: 400px;
    }
    @media only screen and (min-width: 768px) {
    
    
      background-image: url("../img/ico/backgrounds/curved-bg-md.svg");
      background-size: cover;
      height: 400px;
    }
  @media only screen and (min-width: 1080px) {
  
  
      background-image: url("../img/ico/backgrounds/curved-bg-lg.svg");
      background-size: cover;
      height: 440px;
    }
  }
  .ico-call-action {
    left: 50%;
    top: -50%;
    transform: translateX(-50%);
  
    @media only screen and (min-width: 576px) {
    
    
      left: 0;
      top: 0;
      transform: translateX(0);
    }
  @media only screen and (min-width: 768px) {
  
  
      left: -12%;
      //top: 0;
      //transform: translateX(0);
    }
  }
  .expanded {
    &:after {
      transform: rotate(180deg);
      transform-origin: center;
    }
  }
  
  .list-footer {
    list-style: none;
    padding-left: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s linear;
  
     @media only screen and (min-width: 768px) {
     
     
      max-height: fit-content;
    }
  
    li {
      margin-top: 10px;
      margin-bottom: 10px;
  
      a {
        color: black;
        font-size: 16px;
        font-family: "gilroy-medium";
        font-weight: 300;
        
  
        @media only screen and (min-width: 568px) {
        
        
          font-size: 13px;
        }
  
        @media only screen and (min-width: 768px) {
        
      
          font-size: 12px;
        }
      }
    }
  }
  .title-area-footer {
  position: relative;

  &:after {
    content: '';
    background-image: url("../img/ico/arrow-down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 12px;
    height: 6px;
    position: absolute;
    top: 50%;
    //transform: translateY(-50%);
    right: 0;

    @media only screen and (min-width: 768px) {
    
    
      content: none;
    }
  }
}
.btn-round {
  background-color: black;
  border: none;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  text-align: center;
  background-image: url("../img/ico/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: center;
  padding: 20px;
  transition:  opacity 0.3s linear;
  
  opacity: 0.6;
  &:hover{
    opacity: 1;
  }
}
